/* Website styling for Cat's Corner */
* {
    font-family: 'Montserrat', sans-serif, helvetica;
    /* font-size: 14px; */
}
body { 
    background-color: lightblue;
    color:darkslategray;
    font-family: 'Montserrat', sans-serif, helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
header {
    background-color: lightpink;
    padding: 20px;
}
h1, h2, h3 {
    font-weight: 900;
    font-style: italic;
}
h1 {
    color: purple;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    /* padding: 20px; */
}
header h1 {
    text-align: center ;
}
h2 {
    color: darkslategray;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}
.contact {
    color: yellow;
    text-align: left;
    padding: 10px;
}
h3 {
    color: darkslategray;
    text-align: left;
    font-size: 18px;
    padding: 10px;
}
p {
    line-height: 1.5;
    font-style: normal;
    padding: 10px;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: grey;
}