/* Website styling for Cat's Corner */
* {
    font-family: 'Montserrat', sans-serif, helvetica;
    font-size: 16px;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    /* border:1px solid blue; */
}

.container {
  display: flex;
  background-color: lightpink;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.logo {
  height: 220px;
  width: 220px;
  border: none;
}

iframe {
    display: block; 
    margin: 0 auto;
}

header {
    background-color: lightpink;
    padding: 20px;
}

.container-1 {
  display: flex;
  background-color: lightpink;
}

.container-1 div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

.center-list{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-left:0;
    list-style-type: none;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

body { 
    background-color: #FFF4F2;
    color:darkslategray;
    font-family: 'Montserrat', sans-serif, helvetica;
    font-size: 14px;
    padding: 0;
    /* background-image: url(./images/stripes-light.png);
    background-repeat: no repeat; */
}

.banner {
    /* background-color: lightblue;
    height: 350px;
    border: 2px solid darkslategray;
    max-width: 900%;
    width:900px; */
    background-image: url("./images/IMG_7285-new.jpeg");
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

#welcome {
    background-color: white;
    border: 2px solid #FFF4F2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.cat-activity {
    background-image: url("https://images.unsplash.com/photo-1638826595775-e2eae86cda8e?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.cat-food {
    background-image: url("https://images.pexels.com/photos/3873629/pexels-photo-3873629.jpeg");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.adopt-cat {
    background-image: url("https://images.unsplash.com/photo-1570824104453-508955ab713e?q=80&w=1011&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.cat-activity {
    background-image: url("https://images.unsplash.com/photo-1638826595775-e2eae86cda8e?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.cat-eating {
    background-image: url("https://images.pexels.com/photos/31309076/pexels-photo-31309076.jpeg");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.activity-box {
    flex: 1;
    background-color: white;
    border: 2px solid #FFF4F2;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.parent-container {
    display: flex;
    gap: 15px;
}

.cat-column {
    flex: 1;
    background-color: white;
    border: 2px solid #FFF4F2;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.centering-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* .hero-banner {
    background-image: url("https://images.unsplash.com/photo-1570824104453-508955ab713e?q=80&w=1011&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
} */

header,
section,
footer {
    padding: 20px;
}

h1, h2, h3 {
    font-weight: 900;
    font-style: noraml;
    margin-bottom: 20px;
}

h1 {
    color: purple;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    /* padding: 20px; */
}

header h1 {
    text-align: center ;
    text-decoration: none;
}

h2 {
    color: darkslategray;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}

.cat-care {
    color: #e75480;
    text-align: center;
    padding: 10px;
    padding-top:30px;
}

.title {
    font-size: 36px;
    text-decoration: none;
}

h3 {
    color: darkslategray;
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

p {
    line-height: 1.5;
    font-style: normal;
    padding: 10px;
    margin: 20px 70px 20px 70px;
    text-align: center;
}

ul, ol {
    margin: 15px auto;
}

img {
    height: 40%;
    width: 40%;
    margin-bottom: 20px;
    border: 2px solid #FFF4F2;
    border-radius: 10px;
}

.circle-image {
    background-color: white;
    border: 2px solid #FFF4F2;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

a {
    color: #e75480;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* a:visited {
    color: #e75480;
} */

a:active {
    color: red;
}

footer a {
    font-size: 14px;
    text-align: center;
    display: block;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 200px;
}