/* Website styling for Cat's Corner */
* {
    font-family: 'Montserrat', sans-serif, helvetica;
    font-size: 14px;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    /* border:1px solid blue; */
}
.container {
  display: flex;
  background-color: red;
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}
header nav ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
body { 
    background-color: lightblue;
    color:darkslategray;
    font-family: 'Montserrat', sans-serif, helvetica;
    font-size: 14px;
    padding: 0;
    background-image: url(./images/stripes-light.png);
    background-repeat: no repeat;
}
.banner {
    /* background-color: lightblue;
    height: 350px;
    border: 2px solid darkslategray;
    max-width: 900%;
    width:900px; */
    background-image: url("./images/IMG_7285.jpg");
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
}
.cat-activity {
    background-image: url("https://images.unsplash.com/photo-1638826595775-e2eae86cda8e?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
/* .hero-banner {
    background-image: url("https://images.unsplash.com/photo-1570824104453-508955ab713e?q=80&w=1011&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 350px;
    width: 900px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
} */
header {
    background-color: lightpink;
    padding: 20px;
    border-bottom: 5px solid darkslategray;
    border-radius: 0 0 10px 10px;
}
header,
section,
footer {
    padding: 20px;
}
h1, h2, h3 {
    font-weight: 900;
    font-style: italic;
    margin-bottom: 20px;
}
h1 {
    color: purple;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    /* padding: 20px; */
}
header h1 {
    text-align: center ;
    text-decoration: underline;
}
h2 {
    color: darkslategray;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}
.contact {
    color: darkslategray;
    text-align: left;
    padding: 10px;
}
.title {
    font-size: 36px;
    text-decoration: underline;
}
h3 {
    color: darkslategray;
    text-align: left;
    font-size: 18px;
    padding: 10px;
}
#welcome {
    background-color: white;
    border: 2px solid darkslategray;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
p {
    line-height: 1.5;
    font-style: normal;
    padding: 10px;
    margin: 20px 35px 20px 0;
}
ul, ol {
    margin: 15px auto;
}
img {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: grey;
}
a:active {
    color: orange;
}
footer a {
    font-size: 14px;
}